amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1703885206855/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1702571698061/work
billiard @ file:///D:/bld/billiard_1653405766097/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1653849172470/work
click @ file:///D:/bld/click_1651215331061/work
click-didyoumean @ file:///home/conda/feedstock_root/build_artifacts/click-didyoumean_1711356664034/work
click-plugins==1.1.1
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1694959444233/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1690881361613/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1653252990345/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
kombu @ file:///D:/bld/kombu_1649425969106/work
MarkupSafe @ file:///D:/bld/markupsafe_1648737728033/work
numpy @ file:///D:/bld/numpy_1649806536290/work
pandas @ file:///D:/bld/pandas_1639398349358/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
scikit-learn @ file:///D:/bld/scikit-learn_1640464434301/work
scipy @ file:///C:/bld/scipy_1637806996411/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1699264759755/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1699959196938/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
